<div class="featured-card">
  <div class="featured-card__img">
    <img src="<%= image %>" alt="<%= title %>" />
  </div>
  <div class="featured-card__body">
    <div class="featured-sub"><%= subtitle %></div>
    <div class="featured-title"><%= title %></div>
    <div class="featured-meta">
      <span class="rating"><i class="material-icons tiny">star</i> <%= rating %></span>
      <span class="price"><%= price %></span>
    </div>
  </div>
</div>
